# Activity 1: Classification

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

dataset = pd.read_csv('TravelInfo.csv')

In [3]:
dataset.shape

(400, 3)

In [4]:
dataset.head()

   Age  Income  TravelAbroad
0   22   25000             0
1   38   26000             0
2   29   49000             0
3   30   63000             0
4   22   82000             0

In [13]:
X = dataset.iloc[:, [0, 1]].values    # Input Data: Age and Income
y = dataset.iloc[:, 2].values         # Labeled Data: Travelled or not

In [14]:
X

array([[    22,  25000],
       [    38,  26000],
       [    29,  49000],
       [    30,  63000],
       [    22,  82000],
       [    30,  64000],
       [    30,  90000],
       [    35, 156000],
       [    28,  39000],
       [    38,  71000],
       [    29,  86000],
       [    29,  58000],
       [    23,  92000],
       [    35,  24000],
       [    21,  88000],
       [    32,  86000],
       [    50,  31000],
       [    48,  32000],
       [    49,  34000],
       [    51,  35000],
       [    48,  28000],
       [    50,  55000],
       [    51,  47000],
       [    48,  28000],
       [    49,  29000],
       [    50,  26000],
       [    52,  34000],
       [    50,  36000],
       [    32,  49000],
       [    34,  24000],
       [    34,  80000],
       [    30, 143000],
       [    24,  22000],
       [    31,  50000],
       [    30,  96000],
       [    38,  33000],
       [    36,  34000],
       [    33,  55000],
       [    29,  78000],
       [    30,  37000],
       [    30,  23000],
       [    36,  57000],
       [    38, 114000],
       [    33,  21000],
       [    31,  90000],
       [    26,  26000],
       [    28,  85000],
       [    30,  60000],
       [    33, 141000],
       [    34,  95000],
       [    27,  38000],
       [    21,  50000],
       [    32,  89000],
       [    38,  29000],
       [    30,  64000],
       [    27,  61000],
       [    26,  54000],
       [    31,  85000],
       [    25,  24000],
       [    35, 123000],
       [    30,  26000],
       [    28,  93000],
       [    26,  72000],
       [    35, 126000],
       [    62,  89000],
       [    27,  64000],
       [    27,  25000],
       [    26,  88000],
       [    25,  69000],
       [    34,  74000],
       [    28,  86000],
       [    27,  33000],
       [    23,  29000],
       [    36, 119000],
       [    35,  24000],
       [    37, 118000],
       [    21,  58000],
       [    25,  33000],
       [    31,  93000],
       [    29,  23000],
       [    33,  86000],
       [    42,  48000],
       [    23,  55000],
       [    38,  94000],
       [    33,  68000],
       [    34, 124000],
       [    27,  61000],
       [    31,  91000],
       [    29,  87000],
       [    38,  56000],
       [    25,  87000],
       [    33, 122000],
       [    29,  21000],
       [    32,  34000],
       [    32,  89000],
       [    38,  50000],
       [    38,  31000],
       [    31, 129000],
       [    38,  79000],
       [    31,  43000],
       [    30,  94000],
       [    31,  65000],
       [    35,  92000],
       [    36, 155000],
       [    22,  27000],
       [    24,  78000],
       [    29,  41000],
       [    30,  95000],
       [    29,  92000],
       [    41,  86000],
       [    42,  77000],
       [    40,  77000],
       [    41,  67000],
       [    40,  61000],
       [    45,  86000],
       [    43,  63000],
       [    38,  81000],
       [    39,  58000],
       [    43,  65000],
       [    44,  65000],
       [    39,  81000],
       [    40,  78000],
       [    43,  81000],
       [    38,  59000],
       [    44,  57000],
       [    42,  67000],
       [    45,  71000],
       [    29,  38000],
       [    33,  23000],
       [    29,  90000],
       [    34,  64000],
       [    36,  37000],
       [    33,  93000],
       [    24,  74000],
       [    31,  61000],
       [    26,  69000],
       [    23,  88000],
       [    33, 113000],
       [    31,  65000],
       [    22,  31000],
       [    22,  91000],
       [    21,  74000],
       [    38,  65000],
       [    33,  95000],
       [    37,  31000],
       [    27,  95000],
       [    30, 102000],
       [    44,  36000],
       [    32,  67000],
       [    23,  80000],
       [    29,  21000],
       [    44,  51000],
       [    34,  82000],
       [    39,  56000],
       [    43,  53000],
       [    34,  21000],
       [    49,  65000],
       [    32,  81000],
       [    29,  36000],
       [    35, 141000],
       [    35, 106000],
       [    28,  96000],
       [    40,  39000],
       [    38,  44000],
       [    36,  75000],
       [    21,  92000],
       [    25,  61000],
       [    38,  77000],
       [    32, 154000],
       [    32,  53000],
       [    24,  94000],
       [    37, 121000],
       [    29, 124000],
       [    37,  49000],
       [    37,  78000],
       [    26,  34000],
       [    38,  53000],
       [    28,  28000],
       [    27,  29000],
       [    34,  40000],
       [    29,  22000],
       [    34,  77000],
       [    35, 123000],
       [    36,  49000],
       [    36,  66000],
       [    34,  72000],
       [    23,  88000],
       [    36,  47000],
       [    38,  78000],
       [    31,  38000],
       [    27,  90000],
       [    22,  32000],
       [    32,  49000],
       [    22,  76000],
       [    31,  95000],
       [    37,  49000],
       [    33,  85000],
       [    23,  42000],
       [    29,  86000],
       [    38,  28000],
       [    38,  45000],
       [    52,  80000],
       [    42, 140000],
       [    44,  77000],
       [    61, 107000],
       [    50,  53000],
       [    58, 136000],
       [    55, 120000],
       [    43, 148000],
       [    49,  28000],
       [    51, 102000],
       [    55, 156000],
       [    62,  48000],
       [    38,  64000],
       [    50,  49000],
       [    63, 114000],
       [    52,  71000],
       [    43,  84000],
       [    49, 102000],
       [    62, 149000],
       [    44,  86000],
       [    38,  97000],
       [    40, 150000],
       [    63, 108000],
       [    38,  66000],
       [    40,  59000],
       [    39, 132000],
       [    59, 139000],
       [    43,  78000],
       [    45,  86000],
       [    38, 153000],
       [    42,  48000],
       [    43, 113000],
       [    52,  92000],
       [    41, 118000],
       [    49,  85000],
       [    43,  63000],
       [    40,  86000],
       [    49,  88000],
       [    56, 149000],
       [    45, 155000],
       [    41,  65000],
       [    53,  94000],
       [    59, 110000],
       [    44,  78000],
       [    54, 152000],
       [    38,  56000],
       [    60, 128000],
       [    44,  58000],
       [    38, 103000],
       [    47,  45000],
       [    40,  58000],
       [    51, 140000],
       [    40, 152000],
       [    53,  50000],
       [    55,  96000],
       [    44,  78000],
       [    43,  63000],
       [    61, 101000],
       [    48, 137000],
       [    38,  83000],
       [    39, 150000],
       [    58, 131000],
       [    38,  78000],
       [    51,  96000],
       [    45, 114000],
       [    43,  81000],
       [    40,  80000],
       [    50, 150000],
       [    43,  67000],
       [    46, 139000],
       [    62,  82000],
       [    63,  48000],
       [    42, 112000],
       [    60,  32000],
       [    60,  80000],
       [    41,  77000],
       [    52,  94000],
       [    55,  44000],
       [    53,  42000],
       [    62,  94000],
       [    38,  67000],
       [    40,  76000],
       [    55,  27000],
       [    51, 147000],
       [    40,  99000],
       [    40,  68000],
       [    51, 144000],
       [    44,  85000],
       [    40,  84000],
       [    42, 140000],
       [    52,  95000],
       [    58,  45000],
       [    40,  83000],
       [    38,  63000],
       [    39,  69000],
       [    45,  79000],
       [    46, 118000],
       [    48,  85000],
       [    49, 123000],
       [    61,  44000],
       [    51,  80000],
       [    40, 143000],
       [    40,  85000],
       [    43,  66000],
       [    45,  60000],
       [    54, 140000],
       [    50, 119000],
       [    39, 131000],
       [    41,  56000],
       [    45,  76000],
       [    42, 102000],
       [    41,  56000],
       [    52, 147000],
       [    42,  85000],
       [    42,  81000],
       [    57, 110000],
       [    38,  61000],
       [    48,  38000],
       [    39,  66000],
       [    55, 144000],
       [    56,  88000],
       [    44,  58000],
       [    51,  36000],
       [    51, 137000],
       [    44,  66000],
       [    44,  78000],
       [    45,  81000],
       [    39, 124000],
       [    50, 113000],
       [    41,  57000],
       [    51, 125000],
       [    45,  71000],
       [    43,  71000],
       [    60,  66000],
       [    39,  60000],
       [    61, 150000],
       [    38,  85000],
       [    41,  61000],
       [    42, 128000],
       [    56, 110000],
       [    38,  81000],
       [    41,  71000],
       [    50,  57000],
       [    50, 111000],
       [    44,  69000],
       [    56,  78000],
       [    57, 114000],
       [    42,  83000],
       [    41,  67000],
       [    41, 119000],
       [    40,  81000],
       [    45,  96000],
       [    40,  63000],
       [    39, 105000],
       [    63,  40000],
       [    57,  76000],
       [    44,  78000],
       [    43,  77000],
       [    45,  60000],
       [    46, 135000],
       [    56,  40000],
       [    50,  56000],
       [    45,  85000],
       [    45, 110000],
       [    62,  35000],
       [    61,  53000],
       [    49,  94000],
       [    41,  77000],
       [    57,  32000],
       [    63,  52000],
       [    63,  89000],
       [    42,  79000],
       [    62, 136000],
       [    40,  86000],
       [    49,  38000],
       [    49,  80000],
       [    45,  59000],
       [    44,  93000],
       [    61,  29000],
       [    45,  70000],
       [    51,  39000],
       [    47, 145000],
       [    52,  34000],
       [    60,  39000],
       [    59,  66000],
       [    52,  45000],
       [    42,  77000],
       [    50,  40000],
       [    51,  41000],
       [    51,  39000],
       [    50,  29000],
       [    48,  51000],
       [    63,  48000],
       [    42,  65000],
       [    49,  47000],
       [    54,  29000],
       [    53,  26000],
       [    39,  39000],
       [    52,  42000]], dtype=int64)

In [12]:
y

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1], dtype=int64)

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size = 0.25, random_state = 0
)

## Feature Scaling or Normalization

In [17]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)